<% provide(:title, 'HOME') %>
<%= csrf_meta_tags %>
<%= csp_meta_tag %>

  <body>
  	<%= link_to "English", locale:"en" %>
	<%= link_to "Vietnamese", locale:"vi" %>
    <div class="center jumbotron">
	<h1><%= t(".welcome")%></h1>
	<h2>
	<%= t(".intro") %>
	<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
	</h2>
	<%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
	</div>
  </body>
