<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ruby"), Settings.linkhome %>
    <%= t ".by" %> <%= link_to t(".author"), Settings.linkauthor %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
      <li><%= link_to t(".new"), Settings.linknew %></li>
    </ul>
  </nav>
</footer>
